body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

h1{
    text-align: center;
    /*margin-top: -.25em;*/
}

p{
    text-align: center;
    margin-top: -.5em;
}

.inline{
    text-align: left;
    display: inline;
    float: left;
    margin: auto;
    margin-left: 5em;
}

select{
    display: inline;
    float: left;
    margin: auto;
    margin-left: .5em;
}

#top{
    margin: 0;
    padding: 0;
}

#bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}

div{
    width: 66%;
    margin: auto;
    margin-top: 2em;
}

#fadeable{
    width: 100%;
    margin-top: -2em;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}