body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1{
    text-align: center;
    /*margin-top: -.25em;*/
}

p{
    text-align: center;
    margin-top: -.5em;
}

.inline{
    text-align: left;
    display: inline;
    float: left;
    margin: auto;
    margin-left: 5em;
}

select{
    display: inline;
    float: left;
    margin: auto;
    margin-left: .5em;
}

#bottom{
    position: absolute;
    bottom: 0px;
}

div{
    width: 66%;
    margin: auto;
    margin-top: 2em;
}